<h1>All Lists</h1>
<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category"><%= link_to list.name, list_path(list) %></div>
  <% end %>
</div>

<%= link_to 'add a new list', new_list_path %>

